# Application
/web/app/upgrade
/web/app/uploads
!/web/app/uploads/.gitkeep

# WordPress
/web/wp
/web/.htaccess

# Dotenv
.env
.env.*

# Composer
/vendor

# Plugins
/web/app/plugins
!/web/app/plugins/.gitkeep

# MU Plugins
/web/app/mu-plugins/advanced-custom-fields-pro
/web/app/mu-plugins/wp-cron-runner
/web/app/mu-plugins/wp-graphql
/web/app/mu-plugins/wp-graphiql
/web/app/mu-plugins/wp-graphql-acf
/web/app/mu-plugins/wp-redis
/web/app/mu-plugins/wp-stage-switcher
