DB_HOST=mariadb:3306
DB_NAME=bedrock
DB_USER=root
DB_PASSWORD=password
DB_PREFIX=wp_
DB_USER_HOST=localhost
ENV_DEV=bedrock.test
ENV_STAGING=staging.bedrock.com
ENV_PRODUCTION=bedrock.com
REDIS_AUTH=''
REDIS_CACHE_KEY_SALT=''
REDIS_HOST=''
REDIS_PASSWORD=''
REDIS_PORT=''
REDIS_USERNAME=''
S3_UPLOADS_BUCKET=''
S3_UPLOADS_ENDPOINT=''
S3_UPLOADS_KEY=''
S3_UPLOADS_REGION=''
S3_UPLOADS_SECRET=''
SENTRY_DSN=''
WP_ENV=development
WP_HOME=http://bedrock.test/wp
WP_MEMORY_LIMIT=256M
WP_SITEURL=http://bedrock.test/wp
